In [1]:
# --*-- encoding: utf-8 --*--
import pandas as pd
data_train_offline = pd.read_csv(r'data/ccf_offline_stage1_train.csv')
data_test_offline = pd.read_csv(r'data/ccf_offline_stage1_test_revised.csv')

In [ ]:
# 第一步：导入数据

In [2]:
res2 = pd.merge(data_train_offline, data_test_offline, on=['User_id', 'Merchant_id'])
res2 = res2.drop(['Coupon_id_x', 'Discount_rate_x', 'Distance_x', 'Date_received_x', 'Coupon_id_y',
               'Discount_rate_y', 'Date_received_y'], axis=1)
res2['Distance_y'] = res2['Distance_y'].replace('null', 'unknown')
res2

        User_id  Merchant_id      Date Distance_y
0       1439408         2632  20160217          0
1       1439408         2632      null          0
2       1439408         2632      null          0
3       1439408         2632      null          0
4       1439408         2632  20160516          0
5       1439408         2632  20160613          0
6       2029232         6459      null          0
7       2029232         6459      null          0
8       2029232         6459      null          0
9       2029232         6459  20160626          0
10      2029232         6459  20160626          0
11      2029232         6459  20160626          0
12      2029232         6459  20160519          0
13      2029232         6459  20160519          0
14      2029232         6459  20160519          0
15      1113008         3621      null          0
16       114747          760      null          0
17       114747          760      null          0
18       114747         6901  20160605          0
19       114747         6901      null          0
20       114747         6901      null          0
21       114747          450      null          7
22       245878          760      null          0
23      4474560         6504      null          1
24      4474560         6504  20160215          1
25      4474560         6504      null          1
26       361900          450      null          0
27        90699          760      null          0
28      1910192          760      null          0
29       111243          760      null          0
...         ...          ...       ...        ...
135783  7309899         7605      null          0
135784  7309899         7605  20160510          0
135785  7309899         7605  20160420          0
135786  7309899         7605  20160630          0
135787  7309899         7605  20160531          0
135788  7309899         7605  20160622          0
135789  5245515         4748      null    unknown
135790  4213323         7354      null          0
135791  4213323         7354      null          0
135792  4213323         7354  20160513          0
135793  4213323         7354  20160311          0
135794  4812363         6614  20160521          0
135795  4812363         6614  20160630          0
135796  4812363         6614      null          0
135797  4812363         6614      null          0
135798  4812363         6614  20160323          0
135799  4350543         1469  20160108          0
135800  4350543         1469  20160108          0
135801  4350543         1469  20160213          0
135802  4350543         1469  20160213          0
135803  4350543         1469  20160418          0
135804  4350543         1469  20160418          0
135805  4350543         1469  20160403          0
135806  4350543         1469  20160403          0
135807  4350543         1469  20160307          0
135808  4350543         1469  20160307          0
135809  4350543         1469  20160620          0
135810  4350543         1469  20160620          0
135811  4350543         1469  20160428          0
135812  4350543         1469  20160428          0

[135813 rows x 4 columns]

In [ ]:
# 第二步：准备清洗数据，把两张表按照User_id和Merchant_id都一样的拼在一起，并且取出指定的列

In [3]:
res3 = res2[res2['Date'] != 'null']
res3 = res3.drop_duplicates('Date',keep='first') 
res3.head(10)

    User_id  Merchant_id      Date Distance_y
0   1439408         2632  20160217          0
4   1439408         2632  20160516          0
5   1439408         2632  20160613          0
9   2029232         6459  20160626          0
12  2029232         6459  20160519          0
18   114747         6901  20160605          0
24  4474560         6504  20160215          1
31   103083         6362  20160222          0
32   222550         4582  20160129          0
33   222550         4582  20160312          0

In [ ]:
# 第三步：去掉里面没有购买的记录，再去掉重复的行（该表得出的是某线下用户购买某商品的具体日期以及距离）

In [4]:
res4 = pd.merge(res3, data_test_offline, on=['User_id', 'Merchant_id'])
res_final = res4.drop(['Date', 'Merchant_id', 'Distance_y', 'Discount_rate', 'Distance'], axis=1)
res_final['Probability'] = 1
res_final

     User_id  Coupon_id  Date_received  Probability
0    1439408       1078       20160714            1
1    1439408       1078       20160714            1
2    1439408       1078       20160714            1
3    2029232       7861       20160722            1
4    2029232       4805       20160705            1
5    2029232       7861       20160731            1
6    2029232       7861       20160722            1
7    2029232       4805       20160705            1
8    2029232       7861       20160731            1
9     114747        785       20160725            1
10   4474560       9559       20160721            1
11    103083       8921       20160725            1
12    222550      13803       20160702            1
13    222550      13803       20160702            1
14    165334      12807       20160730            1
15    165334      12807       20160711            1
16    165334      12807       20160723            1
17    165334      12807       20160710            1
18    165334      12807       20160730            1
19    165334      12807       20160711            1
20    165334      12807       20160723            1
21    165334      12807       20160710            1
22    165334      12807       20160730            1
23    165334      12807       20160711            1
24    165334      12807       20160723            1
25    165334      12807       20160710            1
26    165334      12807       20160730            1
27    165334      12807       20160711            1
28    165334      12807       20160723            1
29    165334      12807       20160710            1
..       ...        ...            ...          ...
254    35462       7437       20160709            1
255  7227144      12735       20160714            1
256  7227144       1562       20160718            1
257  7227144       2081       20160718            1
258  1765058       8171       20160723            1
259  2186630       9983       20160718            1
260  2711942       1298       20160718            1
261  5745420       8635       20160704            1
262  5745420       8635       20160707            1
263  5745420       8635       20160701            1
264  5745420       8635       20160704            1
265  5745420       8635       20160707            1
266  5745420       8635       20160701            1
267  5745420       8635       20160704            1
268  5745420       8635       20160707            1
269  5745420       8635       20160701            1
270  1333700       4277       20160726            1
271  2022854       8182       20160704            1
272  2022854       8182       20160704            1
273  2022854       8182       20160704            1
274  1995719      10609       20160702            1
275  1995719      10609       20160702            1
276  2659220       3992       20160707            1
277  6625068       1904       20160709            1
278  3974552       9983       20160725            1
279  3974552       9983       20160725            1
280  6758196      13320       20160725            1
281  1090766      11799       20160723            1
282   385207       9346       20160707            1
283  3386336       1069       20160704            1

[284 rows x 4 columns]

In [ ]:
# 第四步：这里根据特定用户购买了特定商品为合并表的条件，除去了result里面不需要的列，并且加上了可能性（全为 1）
# 我这里认为一个人是否购买主要取决于指定的用户是否会买指定的商品，与其他的无关

In [5]:
all_res = data_test_offline[['User_id', 'Coupon_id', 'Date_received']]
all_res

        User_id  Coupon_id  Date_received
0       4129537       9983       20160712
1       6949378       3429       20160706
2       2166529       6928       20160727
3       2166529       1808       20160727
4       6172162       6500       20160708
5       4005121       9983       20160706
6       4347394       9983       20160716
7       3094273      13602       20160727
8       5139970       9983       20160729
9       3237121      13602       20160703
10      6224386       9983       20160716
11      6488578      13602       20160712
12      4164865       9983       20160703
13      4164865       8059       20160706
14      5468674       9983       20160713
15      6258178       9144       20160706
16      3659521       7341       20160727
17      3659521      13181       20160717
18      3659521      13602       20160718
19      7333378      13602       20160704
20      7333378        785       20160727
21      4454914       2978       20160711
22      6817282       8375       20160724
23      3149569      10418       20160721
24      6301186       1715       20160718
25      6301186       4203       20160708
26      2891521      13602       20160724
27      3422977      13602       20160727
28      4771330      13602       20160726
29      4513282      11799       20160712
...         ...        ...            ...
113610  4194809      11799       20160717
113611  4194809      13602       20160713
113612  6062585      10438       20160719
113613  6062585      13602       20160719
113614  6074873        878       20160724
113615  6342137      13602       20160728
113616  6342137       8059       20160704
113617  6342137       9822       20160724
113618  6342137       3429       20160718
113619  4317689       5933       20160727
113620  5110265      13602       20160711
113621  5110265       9983       20160711
113622  6422009       5874       20160710
113623  4851197       9983       20160713
113624  4894205       2978       20160711
113625  7253501      13602       20160714
113626  6485501      13602       20160720
113627  4918781      10438       20160723
113628  6497789       9983       20160716
113629  7047677       2601       20160708
113630  6786557       9983       20160718
113631  6801917      13602       20160719
113632  7066109       9144       20160705
113633  4451837      13602       20160723
113634  5828093       2978       20160716
113635  5828093      10418       20160716
113636  6626813       7595       20160707
113637  6626813       7590       20160712
113638  4547069      13602       20160717
113639  6675965        613       20160728

[113640 rows x 3 columns]

In [ ]:
# 第五步：选取出最终提交result的三列

In [6]:
summary = pd.merge(all_res, res_final, on=['User_id', 'Coupon_id', 'Date_received'], how='left')
summary = summary.fillna(0)
summary

        User_id  Coupon_id  Date_received  Probability
0       4129537       9983       20160712          0.0
1       6949378       3429       20160706          0.0
2       2166529       6928       20160727          0.0
3       2166529       1808       20160727          0.0
4       6172162       6500       20160708          0.0
5       4005121       9983       20160706          0.0
6       4347394       9983       20160716          0.0
7       3094273      13602       20160727          0.0
8       5139970       9983       20160729          0.0
9       3237121      13602       20160703          0.0
10      6224386       9983       20160716          0.0
11      6488578      13602       20160712          0.0
12      4164865       9983       20160703          0.0
13      4164865       8059       20160706          0.0
14      5468674       9983       20160713          0.0
15      6258178       9144       20160706          0.0
16      3659521       7341       20160727          0.0
17      3659521      13181       20160717          0.0
18      3659521      13602       20160718          0.0
19      7333378      13602       20160704          0.0
20      7333378        785       20160727          0.0
21      4454914       2978       20160711          0.0
22      6817282       8375       20160724          0.0
23      3149569      10418       20160721          0.0
24      6301186       1715       20160718          0.0
25      6301186       4203       20160708          0.0
26      2891521      13602       20160724          0.0
27      3422977      13602       20160727          0.0
28      4771330      13602       20160726          0.0
29      4513282      11799       20160712          0.0
...         ...        ...            ...          ...
113764  4194809      11799       20160717          0.0
113765  4194809      13602       20160713          0.0
113766  6062585      10438       20160719          0.0
113767  6062585      13602       20160719          0.0
113768  6074873        878       20160724          0.0
113769  6342137      13602       20160728          0.0
113770  6342137       8059       20160704          0.0
113771  6342137       9822       20160724          0.0
113772  6342137       3429       20160718          0.0
113773  4317689       5933       20160727          0.0
113774  5110265      13602       20160711          0.0
113775  5110265       9983       20160711          0.0
113776  6422009       5874       20160710          0.0
113777  4851197       9983       20160713          0.0
113778  4894205       2978       20160711          0.0
113779  7253501      13602       20160714          0.0
113780  6485501      13602       20160720          0.0
113781  4918781      10438       20160723          0.0
113782  6497789       9983       20160716          0.0
113783  7047677       2601       20160708          0.0
113784  6786557       9983       20160718          0.0
113785  6801917      13602       20160719          0.0
113786  7066109       9144       20160705          0.0
113787  4451837      13602       20160723          0.0
113788  5828093       2978       20160716          0.0
113789  5828093      10418       20160716          0.0
113790  6626813       7595       20160707          0.0
113791  6626813       7590       20160712          0.0
113792  4547069      13602       20160717          0.0
113793  6675965        613       20160728          0.0

[113794 rows x 4 columns]

In [ ]:
# 第六步：合并两个表（以outer的形式）

In [7]:
summary.to_csv('result.csv',index=False,sep=',')

In [ ]:
# 第七步，写入csv命名为result